{% extends 'base.html.twig' %}

{% block body %}
    <h1>Roomcategories list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for roomCategory in roomCategories %}
            <tr>
                <td><a href="{{ path('roomcategory_show', { 'id': roomCategory.id }) }}">{{ roomCategory.id }}</a></td>
                <td>{{ roomCategory.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('roomcategory_show', { 'id': roomCategory.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('roomcategory_edit', { 'id': roomCategory.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('roomcategory_new') }}">Create a new roomCategory</a>
        </li>
    </ul>
{% endblock %}
